.app {
    width: 510px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.app h1 {
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 530px){
    .app{
        width: fit-content;
        margin: 20px;
    }
}