.app {
    width: 510px;
    height: 90vh;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

@media (max-width: 530px){
    .app{
        width: fit-content;
        margin: 20px;
    }
}